@media only screen and (max-width: 900px) {
  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .home_nav {
    width: 100%;
  }

  .book_button,
  .author_button,
  .suggestion_button,
  .gift_button,
  .about_button {
    width: 100%;
  }

}

nav {
  padding: 20px 24px;
  margin: 10px auto;
  border: none;
  border-radius: 30px;
  max-width: 1200px;
  min-height: 96px;
  background-color: #2A2C2E;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.logo {
  width: 200px;
  height: auto;
  float: left;
}

.icon {
  display: flex;
  flex-direction: row;
  gap: 20px
}

i {
  padding: 10px;
}

.book_button,
.author_button,
.suggestion_button,
.gift_button,
.about_button {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 18px;
  padding: 10px 15px;
}

.book_button:hover,
.author_button:hover,
.suggestion_button:hover,
.gift_button:hover,
.about_button :hover,
#search_button:hover,
#bookmark_button:hover,
#cart_button:hover {
  color: #F4CE47;
  cursor: pointer;
  transition: 0.6s;
}

.login_button {
  border: none;
  background-color: #F4BA30;
  color: white;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 10px;
}

.login_button:hover {
  color: #F4CE47;
  background-color: white;
  cursor: pointer;
  transition: 0.6s;
}

.action_button {
  color: white;
}

.action_button,
.login_section {
  margin-left: 20px;
}

